<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
 
</head>
<body>

<board>

<div ng-app="" ng-controller="creaturesOnBoardController">		
		
			<div id="board" style="margin-top:60px">			

			<span style="position:absolute;top:190px; left:0px">Player: {{playerNumber}}</span>
			<!--<button type="button" id="battle_button" style="position:absolute;top:40px;left:0px">Battle</button><br>-->
			<button type="button" id="confirm_button" class="btn btn-success" style="position:absolute;top:220px; left:0px">Confirm</button>
			<button type="button" id="concede_button" class="btn btn-danger" style="position:absolute;top:260px; left:0px">Concede Battle</button>
			
			<button type="button" id="reset" class="btn btn-primary" style="position:absolute;top:120px; left:635px">Reset</button>
			<button type="button" id="undo" class="btn btn-primary" style="position:absolute;top:160px; left:635px">Undo</button>			
			
			<span id="whosmove" style="position:absolute;top:100px;left:0px;font-size:20px"></span>
			<span style="position:absolute;top:130px;left:0px;font-size:17px">Turn: <img id="arrow" src="images/black_arrow.png" style="width:18px; height:18px"></img>{{turn}}</span>
			<span style="position:absolute;top:160px;left:0px;font-size:17px">{{phase}} Phase</span>				
				
				<div style="position:relative">
				
				<div id="defenderStartingArea" style="position:absolute;top:-70px">
				<% for(var i=0; i<7; i++){ %>
				
				<div class="defenderStartingSpot" style="border-style:solid;z-index:1;border-width:2px;height:82px; width:82px;background-color:#999999;position:relative;float:left;margin-right:15px">
								
					<button type="button" id="defenderStartingSpot<%=i%>" class="btn btn-default add_creature_button" data-toggle="modal" data-target=".add_creature_modal" style="position:relative;z-index:3;padding:1px">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				
					<img id="defendWaitingImage<%=i%>" class="defendWaitingImage waitingImage" src="images/TitanImages/{{defenderarmy[<%=i%>].name}}.jpg" width=78 height=78 style="position:absolute;top:0px;left:0px;z-index:2"></img>
					
				</div>
					
					<% } %>				
								
				</div>
				
				</div>				
				
				<div id="row1" class="row">
				<% for(var i=0; i<3; i++){ %>
					<div>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area" >
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>					
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>				
					</div>
				</span>
				
					</div>
				<% } %>
				</div>
				
				<div id="row2" class="row">
					
				<% for(var i=3; i<7; i++){ %>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area">
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>					
					</div>
				</span>
				<% } %>
				</div>
				
				<div id="row3" class="row">
				<% for(var i=7; i<12; i++){ %>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area">
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>														
					</div>
				</span>
				<% } %>
				</div>
			
				<div id="row4" class="row">
				<% for(var i=12; i<18; i++){ %>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area">
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>	
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>													
					</div>
				</span>
				<% } %>
				</div>
				
				<div id="row5" class="row">
				<% for(var i=18; i<23; i++){ %>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area">
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>														
					</div>
				</span>
				<% } %>
				</div>
				
				<div id="row6" class="row">
				<% for(var i=23; i<27; i++){ %>
				<span id="id<%=i%>" class ="space">
					&#x2B22;
					<div class="target_area">
						<img class="creatureOnTarget" id="creature<%=i%>" src="images/TitanImages/{{space[<%=i%>].name}}.jpg" width=72; height=72></img>
						<span id="blood<%=i%>" style="position:absolute;color:black;display:block;z-index:2;font-size:17px;color:red;font-weight:bold">{{space[<%=i%>].blood}}</span>														
					</div>
				</span>
				<% } %>
				</div>
				
				<div style="position:relative">
				
				<div id="attackerStartingArea" style="position:absolute;top:80px">
				<% for(var i=0; i<7; i++){ %>
				
				<div class="attackerStartingSpot" style="margin-bottom:60px;border-style:solid;z-index:1;border-width:2px;height:82px; width:82px;background-color:#999999;position:relative;float:left;margin-right:15px">
								
					<button type="button" id="attackerStartingSpot<%=i%>" class="btn btn-default add_creature_button" data-toggle="modal" data-target=".add_creature_modal" style="position:relative;z-index:3;padding:1px">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				
					<img id="attackWaitingImage<%=i%>" class="attackWaitingImage waitingImage" src="images/TitanImages/{{attackerarmy[<%=i%>].name}}.jpg" width=78 height=78 style="position:absolute;top:0px;left:0px;z-index:2"></img>
					
				</div>
				
				<% } %>				
				
				</div>
		
					<div style="position:absolute;top:180px">
					
							<div class="col-md-6">				
							<h5>Spaces</h5>
							<ul>
			  					<li ng-repeat="s in space">
			   		 		<b>{{s.id}}:</b> {{s.name + ', '+ s.army.allegiance +', ' + s.army.index + ', ' + s.blood + ', ' + s.player }}
			 		   		</li>
							</ul>
							
							</div>	
						
							<div class="col-md-6">				
							<h5>Attacker Army</h5>
							<ul>
			  					<li ng-repeat="a in attackerarmy">
			   		 		{{a.name + ', ' + a.startinglocation + ', ' + a.canMove + ', ' + a.location }}
			 		   		</li>
							</ul>
							
							</div>
							
							<div class="col-md-6">				
							<h5>Defender Army</h5>
							<ul>
			  					<li ng-repeat="d in defenderarmy">
			   		 		{{d.name + ', ' + d.startinglocation + ', ' + d.canMove + ', ' + d.location }}
			 		   		</li>
							</ul>
							
							</div>				
						
					</div>
				
				</div>
				

		
			<!--board-->
			</div>
		<!--controller-->
		</div>	

</board>

